/*
*
* Utilization Tracker specifics
*
*/
body{
	background:#FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: absolute;
	font-family: 'Roboto';
	overflow-x: hidden;
}
@font-face {
  font-family: 'proximanova';
  src: url('../fonts/proxima_nova_thin_1.eot');
  src: url('../fonts/proxima_nova_thin_1.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_thin_1.woff') format('woff'), url('../fonts/proxima_nova_thin_1.ttf') format('truetype');

}
.mh-utilization-container{
  height: 360px;
  overflow-y: auto;
}
.mh-utilization-container::-webkit-scrollbar {
  width: 5px;
}

.mh-utilization-container::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

.mh-utilization-container::-webkit-scrollbar-button:start:decrement,
.mh-utilization-container::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}
.footer{
  background: #FFF;
  z-index: 1000000000;
  border-top: 1px solid #CFCFCF;
  position: fixed;
  padding: 8px 15px 0px 15px;
  text-align: left;
  bottom: 0px;
  width: 100%;
}
.container{
  margin-left:0px;
  margin-right:0px;
}
.arrow-dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 190px;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin:5px 23px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(206, 206, 206, 1);
  border-top: 1px solid rgba(206, 206, 206, 1) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.arrow-dropdown:before {
 position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.arrow-dropdown:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.leave-toggler li:nth-child(2){
      border-bottom: 1px solid #DEDEDE;

}
.day-utilization{
  font-size: 10px;
  margin-right: 7px;
  color: #ffffff;
  border-radius: 100px;
  padding: 2px 6px 0px 6px;
  background: rgba(0, 0, 0, 0.28);
}
.tooltip{
  z-index:1000 !important;
}
.toolbar-text{
	margin-top:5px;
  color: #6C6C6C;
  font-family: 'proximanova';
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 1.10000002384186px;
}
.leave-toggle{
  width:200px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.leave-toggle .caret{
  position: absolute;
  top: -2px;
  right: 0px;
  margin-left:5px;
}
.full-width{
 width: 100% !important;
}
.inline{
	display:inline-block;
}
.month_name{
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
  text-align: center;
}
.clickable{
	cursor: pointer;
	display: inline-block;

}
.clickable:active{
opacity:.7;
}
.arrow{
  width: 15px;
  opacity: .45;
 
}
.download-link a{
	cursor: pointer;
}
.nav-pills a{
	cursor: pointer;
}
.white{
	color: white !important;
}
.red{
	color: #DF6653;
}
.white-active{
	color: rgba(255,255,255,.7) !important;
}
.space-right{
	margin-right: 8px;
}

.report ul li{
	list-style-type: none !important;
}
.datepicker table .btn {
 border: 0px;
}
button.calendar-button{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 0px;
	background-size: cover !important;
	opacity: .5;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    margin-top: 10px;
    overflow:hidden;
}

button.calendar-button:hover{
	-webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    opacity:.9;
}

button.calendar-button:active{
	opacity: .3;
}

button.back{
	background: url('/images/back.png');
}

button.next{
	background: url('/images/next.png');
	margin-left: 8px;
}

.admin-panel-heading{
	padding-top: 5px;
}
.holiday-date{
	margin-right: 10px;
}
.heading-btn{
	font-size: 13px;
	padding: 1.1px 8px 1.1px 8px !important;
}
.manhour-toolbar{
  margin-left: -20px !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  height: 51px;
  background: rgba(137, 137, 137, 0.03);
}
.month-name{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;
  /* padding: 0px; */
}
.month{
	table-layout: fixed;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   

}

.month td, .month th{
	vertical-align: top;
    border: 1px solid #FFF;
    border-collapse: collapse;

}
.month-days th{
	  background: #F0F0F0;
  text-align: left;
  font-weight: normal;
  padding: 6px 14px;
}
.month-day{
	background: #F0F0F0;
	height: 162px;
	padding-top:7px;
	padding-bottom:7px;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.month-day-selected{
	background: #CCCCCC;
	height: 162px;
	padding-top:7px;
  padding-bottom:7px;
}

.month-day-other{
	background: #E2E2E2;
	height: 162px;
	padding:7px;
}

.month-day-other .month-day-num{
	opacity: .4;
}

.month-day-selected .month-day-num{
	font-weight: bold;
	opacity: .95;
}


.month-day:hover{
	background: #fafafa;

}

.month-week{
	border-bottom: 0px solid #e1e1e1;
	border-left: 0px solid #e1e1e1;
}
.month-day-num{
	font-size: 1.2em;
	opacity: .95;
	cursor: default;
  margin-left: 10px;
}
.leave_entries{
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
}
.leave_entries li{
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 7px;
  margin-top:1px;
  color: #ffffff;
  opacity:.9;
  cursor: default;
  min-height: 20px;
  
}

.leave_entries li:hover{
  opacity: 1;
}
.month-day-leave{
	  /* text-align: center; */

  /* opacity: .8; */

}
.leave_entries li.cto{
	background: #0072C6;
}

.leave_entries li.sl{
	background:#bf4242;
}

.leave_entries li.vl{
  background: #19B07D;
}

.leave_entries li .l_user{
  font-weight: bold;
  float:left;
}
.leave_entries li .l_user_indicator{
  float: left;
  margin-left: 3px;
  background: rgba(186, 0, 0, 1);
  width: 25px;
  text-align: center;
  border-radius: 100px;
  font-size: 8px;
  font-weight: bold;
  color: white;
  margin-right: 3px;
}
.leave_entries li .l_type{
  float:right;
  font-size:8.5px;
  opacity:.85;
}
.month-day-leaves{
	
	margin-top: 40px;
	right: 10px;
	cursor: pointer;


}
.month-day-leaves a:hover{
	text-decoration: none;
}
.manhour-utilization{
	background:#F3F3F3;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
.mh_task {
	vertical-align: middle !important;
}
.mh_duration{
	width: 70px;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}

.mh_inout{
	width: 53px;
	padding-left: 3px;
	padding-right: 3px;

}

.month-day-holiday{
  margin-top: 2px !important;
  /* opacity: .85; */
  margin-left: 5px;
  /* position: relative; */
  /* float: left; */
  display: inline-block;
  color: #E46D6A;
}

.tag-item{
  background: #4A4A4A !important;
  color: #ffffff !important;
  font-size: 11px;
  opacity: .9;
  border: 0px !important;
}

.remove-button{
	color: #ffffff !important;
}


.month-day-details{
	list-style-type: none;
	margin-top: 0px;
	padding-left: 0em;
	height: 0%;
	width: 100%;
	display:inline-block;
	opacity: .95;
	font-size: 13px;
}

.month-day-details .glyphicon{
	margin-right: 5px;
}


/* Menu */

ul.calendar-context-menu {
	display:block !important;
    position: absolute;
    list-style-type: none;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    width: 150px;
    border: 1px solid rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
}

.calendar-context-menu li a {
	cursor: default;
}

.top-banner{
  height: 50px;
  margin-left: -20px !important;
  background: #008299;
}

/* Calendar Page */
.no-padding{
   margin-right: 0px;
   padding-left: 0px !important; 
   padding-right: 0px !important; 
}

.top-banner h1{
   display: block;
  position: relative;
    top: -4px;
  font-size: 2em;
  left: 15px;
  font-family: 'Roboto';
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  opacity: .7;
}

#manhour-container {
	margin-left: -20px !important;
	min-height: 100%;
	overflow: hidden;
  opacity:0;
  transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}

#preloader{
  position:relative;
  margin-top:15%;
  left: 40%;

  display:block;
  width:128px;
  height:128px;
  background:url('/images/preloader3.gif');
}

.no-background{
	background: none !important;
	border:0px;
	box-shadow: none !important;
}

tags-input .tags .tag-item {

  height: 26px;
  line-height: 25px;
  border: 1px solid #acacac;
   border-radius: 0 !important;
  background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
  background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
}