doctype html
html(ng-app = "manhours")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300')
    link(rel='stylesheet', href='/css/bootstrap.css', id="bootstrap-css")
    link(rel='stylesheet', href='/css/bootstrap-themed.css', id="bootstrap-css")
    link(rel='stylesheet', href='/css/manhours.css')
    link(rel='stylesheet', href='/css/ng-tags-input.min.css')
    link(rel='stylesheet', href='/css/ngToast.min.css')
    block resources
  body#content
    ng-toast
    block content
    footer.footer
      .container
        p.text-muted © 2015 ASL - SRPH

    script(type='text/javascript', src='/js/thirdparty/jquery.min.js')
    script(type='text/javascript', src='/js/thirdparty/angular.js')
    script(type='text/javascript', src='/js/thirdparty/angular-resource.min.js')
    script(type='text/javascript', src='/js/thirdparty/angular-animate.js')
    script(type='text/javascript', src='/js/thirdparty/angular-sanitize.js')

    script(type='text/javascript', src='/js/manhours/manhours.js')
    script(type='text/javascript', src='/js/manhours/common/manhours-constants.js')
    script(type='text/javascript', src='/js/manhours/common/manhours-services.js')
    //script(type='text/javascript', src='/js/thirdparty/bootstrap.min.js')
    script(type='text/javascript', src='/js/thirdparty/ui-bootstrap-tpls-0.11.2.js')
    script(type='text/javascript', src='/js/thirdparty/ng-tags-input.min.js')
    script(type='text/javascript', src='/js/thirdparty/ng-contextmenu.js')
    script(type='text/javascript', src='/js/thirdparty/ngToast.min.js')
