extends navigationpage
block navigationpage_content
    
  .row.top-banner
      h1 Calendar

  .row.manhour-toolbar(ng-controller="CalendarToolbarCtrl")
    .col-lg-6
      img.clickable.arrow(ng-click = "prevMonth()",src = "/images/back2.png")
      span.inline.toolbar-text.month_name 
        b {{cal_month_title}}
      img.clickable.arrow(ng-click = "nextMonth()",src = "/images/next2.png")
    .col-lg-2
        div.pull-right(class="parent")
            span(class="dropdown")
                span.toolbar-text.clickable(class="dropdown-toggle") 
                  b Leaves: 
                  | {{leave_view_current_mode.label}}
                  span.caret
                ul(class='dropdown-menu')
                  li(ng-repeat='choice in leave_view_modes')
                    a(href='', ng-click = "setShowAllLeaves(choice.showAll)") {{choice.label}}


  .row.manhour-container         
    
    .row.manhour
        .col-lg-8.no-padding(ng-controller="CalendarCtrl")

            
                       
            .panel
                .panel-body
                  
                    table.month(cellspacing='0', cellpadding='0', width = '100%')
                        colgroup(span='7')

                          tbody()
                            tr.month-days
                              th(ng-repeat="cal_day_name in cal_day_names", scope='col') {{cal_day_name }}
                            tr.month-week(ng-repeat="week in cal_month_day_weeks")
                              td(ng-repeat="cell in week", ng-click="selectDate(cell.date)", ng-model = "cell", data-context-menu="partials/calendarContextMenu", data-context-event="contextmenu")
                                  div(class="{{cell.celltype}}" )
                                      .month-day-num.pull-left {{cell.date.getDate()}}
                                      span.glyphicon.glyphicon-ok.pull-right(ng-show = "cell.manhour") 
                                      span.month-day-holiday {{cell.holiday.name}}
                                      .month-day-details
                                        //{{cell.date}}
                                        .month-day-leave {{cell.leave.type}}
                                        .month-day-leaves(ng-show = "cell.leave_all.length > 0 && showAllLeaves") 
                                            a.pull-right(ng-click = "showLeaves(cell.date, cell.leave_all)", title = "{{cell.leave_all.length}} resource{{cell.leave_all.length == 1 ? ' is' : 's are'}} on leave") 
                                                span.glyphicon.glyphicon-user
                                                {{cell.leave_all.length}}
                                        .month-day-leaves(ng-show = "cell.leave_teammates.length > 0 && !showAllLeaves") 
                                            a.pull-right(ng-click = "showLeaves(cell.date, cell.leave_teammates)", title = "{{cell.leave_teammates.length}} resource{{cell.leave_teammates.length == 1 ? ' is' : 's are'}} on leave") 
                                                span.glyphicon.glyphicon-user
                                                {{cell.leave_teammates.length}}
            

        .col-lg-3.no-padding(ng-controller="ManHourCtrl")  
            .row.no-padding
                .panel
                    .panel-heading.clearfix
                        h3.admin-panel-heading.panel-title.pull-left In/Out Info
                        .pull-right {{manhour.date | date:"MMMM d, y"}}
                    .panel-body
                      .row
                        .form-group.col-sm-6
                              label.control-label() Time In
                              .form-inline
                                select.form-control.mh_inout(data-ng-model = "manhour.timein_hour", ng-change="updateInOut()", data-ng-options="hour | leftpad for hour in inout_time_hours")
                                select.form-control.mh_inout(data-ng-model = "manhour.timein_min", ng-change="updateInOut()", data-ng-options="minute | leftpad for minute in inout_time_minutes")
                        .form-group.col-sm-6
                              label.control-label() Time Out
                              .form-inline
                                select.form-control.mh_inout(data-ng-model = "manhour.timeout_hour", ng-change="updateInOut()", data-ng-options="hour | leftpad for hour in inout_time_hours")
                                select.form-control.mh_inout(data-ng-model = "manhour.timeout_min", ng-change="updateInOut()", data-ng-options="minute | leftpad for minute in inout_time_minutes")
                                  
                      .row()
                        .form-group.col-sm-6
                            label.control-label() Filed Overtime
                              select.full-width.form-control(ng-change = "overtimeToggled()", data-ng-model = "manhour.isOvertime", ng-disabled = "!showOvertimeOption", required='required')
                                option(value = 0) No
                                option(value = 1) Yes
                        .form-group.col-sm-6(ng-show = "showOvertimeOption && otprojects.length > 0")
                            label.control-label() OT/Y Project
                              select.full-width.form-control(data-ng-model = "manhour.otProject", required='required', ng-disabled = "otprojects.length == 1", data-ng-options="project._id as project.name for project in otprojects")
                .panel.panel
                    .panel-heading.clearfix
                        h3.admin-panel-heading.panel-title.pull-left Task
                        .pull-right.red(ng-hide = "undistributedHours == 0") Undistributed: {{undistributedHours}}
                    .panel-body
                      form(method = "post")
                        .row
                          .table-responsive.col-lg-12
                            table.table.noborder
                               
                                tbody
                                  tr
                                    td.mh_task
                                       label.control-label() Non-Working
                                    td
                                      input.form-control.mh_duration(ng-model = "manhour.nonworking", type = "number", placeholder="0", ng-change = "updateTotalUtilization()", step = ".01", min = "0")
                                  tr(ng-repeat="mh_field in manhour.mh_fields track by $index")
                                    td.mh_task
                                       label.control-label() {{mh_field.project}} - {{mh_field.field_name}}
                                    td
                                      input.form-control.mh_duration(ng-model = "manhour.tasks[$index].duration", ng-change = "updateTotalUtilization()", type = "number", step = ".01", placeholder="0", min = "0")

                          .pull-right
                            button.btn.btn-primary.space-right(ng-click='deleteManhour()', ng-show= 'manhour._id') Delete
                            button.btn.btn-primary(ng-click='saveManhour()', ng-disabled = "!saveEnabled") Save

            .row
                .panel.panel
                    .panel-heading
                        h3.admin-panel-heading.panel-title Summary
                    .panel-body
                        .row
                          .table-responsive.col-lg-12
                            table.table.noborder
                                tbody
                                  tr
                                    td 
                                       label.control-label() Hours in office
                                    td {{officeDuration}} hr
                                  tr
                                    td 
                                       label.control-label() Project Utilization
                                    td {{totalUtilizedHours - manhour.nonworking | number: 2}} hr
                                  tr(ng-show = "overtimeHours > 0")
                                    td 
                                       label.control-label() {{ manhour.isOvertime == 1 ? 'Overtime' : 'OTY'}}
                                    td {{overtimeHours | number: 2}} hr                                    
                              
        

