extends navigationpage
block navigationpage_content
    
  .row.top-banner
      h1 Calendar

  

  #preloader
  .row#manhour-container         

    .col-lg-9.no-padding.manhour
        .row.manhour-toolbar(ng-controller="CalendarToolbarCtrl")

          .col-lg-9
            img.clickable.arrow(ng-click = "prevMonth()",src = "/images/back2.png")
            span.inline.toolbar-text.month_name 
              b {{cal_month_title}}
            img.clickable.arrow(ng-click = "nextMonth()",src = "/images/next2.png")
          .col-lg-3
              div.pull-right(class="parent")
                  span(class="dropdown leave-toggler")
                      span.toolbar-text.clickable.leave-toggle(class="dropdown-toggle") 
                        
                        span.filter 
                          b Leaves: 
                          {{leave_filter_current.label}}
                          span.caret
                      ul(class='dropdown-menu arrow-dropdown')
                        li(ng-repeat='choice in leave_filters', class="fadein fadeout")
                          a(href='', ng-click = "filterLeaveView(choice)") {{choice.label}}
                    
        .row.manhour-calendar(ng-controller="CalendarCtrl")
                  table.month(cellspacing='0', cellpadding='0', width = '100%')
                        colgroup(span='7')

                          tbody()
                            tr.month-days
                              th(ng-repeat="cal_day_name in cal_day_names", scope='col') {{cal_day_name }}
                            tr.month-week(ng-repeat="week in cal_month_day_weeks")
                              td(class="{{cell.celltype}}", ng-repeat="cell in week", ng-click="selectDate(cell.date)", ng-model = "cell", data-context-menu="partials/calendarContextMenu", data-context-event="contextmenu")
                                
                                      .month-day-num.pull-left {{cell.date.getDate()}}
                                      span.pull-right.day-utilization(ng-show = "cell.manhour && cell.shouldDrawDetails") 
                                         
                                          span.spaced-right {{cell.utilization}} {{(cell.utilization > 1)? 'hrs' : 'hr'}}  
                                          

                                      span.month-day-holiday(ng-show = "cell.holiday") {{cell.holiday.name}}

                                      .month-day-details
                                        ul.leave_entries
                                           li.leave_entry(class="{{getLeaveEntryClass(leave.type)}}", ng-repeat="leave in cell.leaves[current_leave_filter] | orderObjectBy:'position'", ng-click="showLeaves(cell.date, cell.leaves[current_leave_filter])")

                                              span.clear-fix.l_user{{leave.user.username}}
                                              span.clear-fix.l_user_indicator(ng-show="isCurrentUserLeave(leave)") YOU
                                              span.clear-fix.l_type{{leave.type}}
                  br
                  br
                  
                  
                                       
            

    .col-lg-3.no-padding.manhour-utilization(ng-controller="ManHourCtrl")  
          .row.no-padding
              
                  .panel-heading.clearfix
                      h3.admin-panel-heading.panel-title.pull-left In/Out Info
                      .pull-right {{manhour.date | date:"MMMM d, y"}}
                  .panel-body
                    .row
                      .form-group.col-sm-6
                            label.control-label() Time In
                            .form-inline
                              select.form-control.mh_inout(data-ng-model = "manhour.timein_hour", ng-disabled="on_whole_day_leave", ng-change="updateInOut()", data-ng-options="hour | leftpad for hour in inout_time_hours")
                              select.form-control.mh_inout(data-ng-model = "manhour.timein_min", ng-disabled="on_whole_day_leave", ng-change="updateInOut()", data-ng-options="minute | leftpad for minute in inout_time_minutes")
                      .form-group.col-sm-6
                            label.control-label() Time Out
                            .form-inline
                              select.form-control.mh_inout(data-ng-model = "manhour.timeout_hour", ng-disabled="on_whole_day_leave", ng-change="updateInOut()", data-ng-options="hour | leftpad for hour in inout_time_hours")
                              select.form-control.mh_inout(data-ng-model = "manhour.timeout_min", ng-disabled="on_whole_day_leave", ng-change="updateInOut()", data-ng-options="minute | leftpad for minute in inout_time_minutes")
                                
                    .row()
                      .form-group.col-sm-6
                          label.control-label() Filed Overtime
                            select.full-width.form-control(ng-change = "overtimeToggled()", data-ng-model = "manhour.isOvertime", ng-disabled = "!showOvertimeOption", required='required')
                              option(value = 0) No
                              option(value = 1) Yes
                      .form-group.col-sm-6(ng-show = "showOvertimeOption && otprojects.length > 0")
                          label.control-label() OT/Y Project
                            select.full-width.form-control(data-ng-model = "manhour.otProject", required='required', ng-disabled = "otprojects.length == 1", data-ng-options="project._id as project.name for project in otprojects")
            
                  .panel-heading.clearfix
                      h3.admin-panel-heading.panel-title.pull-left Task
                      .pull-right.red(ng-hide = "undistributedHours == 0") Undistributed: {{undistributedHours}}
                  .panel-body
                    form(method = "post")
                      .row
                        .table-responsive.col-lg-12.mh-utilization-container
                          table.table.noborder
                             
                              tbody
                                tr
                                  td.mh_task
                                     label.control-label() Non-Working
                                  td
                                    input.form-control.mh_duration(ng-model = "manhour.nonworking", ng-disabled="on_whole_day_leave", type = "number", placeholder="0", ng-change = "updateTotalUtilization()", step = ".25", min = "0")
                                tr(ng-repeat="mh_field in manhour.mh_fields track by $index")
                                  td.mh_task
                                     label.control-label() {{mh_field.project}} - {{mh_field.field_name}}
                                  td
                                    input.form-control.mh_duration(ng-model = "manhour.tasks[$index].duration", ng-disabled="on_whole_day_leave", ng-change = "updateTotalUtilization()", type = "number", step = ".25", placeholder="0", min = "0")

                       

          .row
             
                  .panel-heading
                      h3.admin-panel-heading.panel-title Summary
                  .panel-body
                      .row
                        .table-responsive.col-lg-12
                          table.table.noborder
                              tbody
                                tr
                                  td 
                                     label.control-label() Hours in office
                                  td {{officeDuration}} hr
                                tr
                                  td 
                                     label.control-label() Project Utilization
                                  td {{totalUtilizedHours - manhour.nonworking | number: 2}} hr
                                tr(ng-show = "overtimeHours > 0")
                                  td 
                                     label.control-label() {{ manhour.isOvertime == 1 ? 'Overtime' : 'OTY'}}
                                  td {{overtimeHours | number: 2}} hr                                    
          .row
            .col-lg-12
              button.btn.btn-primary.space-right(ng-click='deleteManhour()', ng-show= 'manhour._id') Delete
              button.btn.btn-primary(ng-click='saveManhour()', ng-disabled = "!saveEnabled || on_whole_day_leave") Save                    
      

